[submodule "app/tools/libmnl"]
	path = app/tools/libmnl
	url = https://git.netfilter.org/libmnl/
[submodule "app/tools/wireguard"]
	path = app/tools/wireguard
	url = https://git.zx2c4.com/WireGuard
[submodule "app/tools/wireguard-go"]
	path = app/tools/wireguard-go
	url = https://git.zx2c4.com/wireguard-go
